.drop-zone {
  width: 200px;
  height: 200px;
  margin-top: 8px;
  display: inline-block;
  text-align: center;
  font-weight: 500;
  font-size: 15px;
  padding: 4px;
  cursor: pointer;
  color: #868e96;
  border: 2px solid #868e96;
  border-radius: 10px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.drop-zone__prompt{
  display: inline-block;
  float: left;
  margin-top: 70px;
  color: #dce0e3;
}

.drop-zone--over {
  border-style: solid;
}

.drop-zone__input {
  display: none;
}

.drop-zone__thumb {
  width: 189px;
  height: 189px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}
